// flex box
// grid と共通の属性は下記ファイル参照
// gap -> _gap.scss
// justify-content -> _jst.scss
// align-items -> _ali.scss
// order -> _order.scss

@use 'sass:math';
@use 'sass:map';
@use '../method';

@mixin l-fx($config) {
  // クラス接頭辞に使うメディアキー（pc / tb / sp）
  $media-prefix: map.get($config, core, media-prefix);

  .l-fx {
    display: flex;
    flex-wrap: wrap;
    column-gap: var(--l-gap-x, 0px);
    row-gap: var(--l-gap-y, 0px);

    // 改行しない
    // ただしスマホは改行させる
    // <div class="l-fx l-fx--nowrap">
    &.l-fx--nowrap {
      @media #{method.mq($config, sp-up)} {
        flex-wrap: nowrap;
      }
    }

    ///////////////////////////////////
    // 並び方向
    // <div class="l-fx l-fx--dir_row">
    @include _l-fx--dir;

    // メディアクエリー毎の設定
    @each $media in $media-prefix {
      @media #{method.mq($config, $media)} {
        @include _l-fx--dir('#{$media}\\:');
      }
    }
  }

  // セル：分割数指定
  // <div class="l-fx"><div class="l-fx__item_2-1">

  @include _l-fx__item($config);

  @each $media in $media-prefix {
    @media #{method.mq($config, $media)} {
      @include _l-fx__item($config, '#{$media}\\:');
    }
  }

  // セル：fit-content
  @include _l-fx__item_auto;

  @each $media in $media-prefix {
    @media #{method.mq($config, $media)} {
      @include _l-fx__item_auto('#{$media}\\:');
    }
  }

  [class*='l-fx__item'] {
    min-width: 0;
  }
}

/////////////////////////
// コンテンツ幅ぴったり
@mixin _l-fx__item_auto($media: '') {
  .#{$media}l-fx__item_auto {
    flex: 1 1 0%;
  }
}

/////////////////////////
// セル分割数指定
@mixin _l-fx__item($config, $media: '') {
  $divideList: map.get($config, layout, fx, divide);

  @for $divide from 1 through $divideList {
    @for $span from 1 through $divide {
      .#{$media}l-fx__item_#{$divide}-#{$span} {
        flex: 0 0 calc(#{math.div(100%, $divide) * $span} - var(--l-gap-x, 0px) * $span / $divide);
      }
    }
  }
}

/////////////////////////
// 方向
@mixin _l-fx--dir($media: '') {
  &.#{$media}l-fx--dir_row {
    flex-direction: row;
  }
  &.#{$media}l-fx--dir_col {
    flex-direction: column;
  }
}
