// #{
// margin、padding で使うスペーサー
@use "sass:math";

$spacer: (
  pc: (
    s5: #{math.div(8, 64)}rem,
    s4: #{math.div(8, 32)}rem,
    s3: #{math.div(8, 24)}rem,
    s2: #{math.div(8, 16)}rem,
    s1: #{math.div(8, 10)}rem,
    n: 1rem,
    l1: #{math.div(8, 6)}rem,
    l2: #{math.div(8, 5)}rem,
    l3: #{math.div(8, 4)}rem,
    l4: #{math.div(8, 3)}rem,
    l5: #{math.div(8, 2.2)}rem,
    l6: #{math.div(8, 1.6)}rem,
    l7: #{math.div(8, 1.2)}rem,
    l8: #{math.div(8, 0.9)}rem,
  ),
  tb: (
    s5: #{math.div(8, 64)}rem,
    s4: #{math.div(8, 32)}rem,
    s3: #{math.div(8, 24)}rem,
    s2: #{math.div(8, 16)}rem,
    s1: #{math.div(8, 10)}rem,
    n: 1rem,
    l1: #{math.div(8, 7)}rem,
    l2: #{math.div(8, 6)}rem,
    l3: #{math.div(8, 5)}rem,
    l4: #{math.div(8, 4)}rem,
    l5: #{math.div(8, 3)}rem,
    l6: #{math.div(8, 2)}rem,
    l7: #{math.div(8, 1.5)}rem,
    l8: #{math.div(8, 1.1)}rem,
  ),
  sp: (
    s5: #{math.div(8, 64)}rem,
    s4: #{math.div(8, 32)}rem,
    s3: #{math.div(8, 24)}rem,
    s2: #{math.div(8, 16)}rem,
    s1: #{math.div(8, 10)}rem,
    n: 1rem,
    l1: #{math.div(8, 7)}rem,
    l2: #{math.div(8, 6)}rem,
    l3: #{math.div(8, 5)}rem,
    l4: #{math.div(8, 4)}rem,
    l5: #{math.div(8, 3.2)}rem,
    l6: #{math.div(8, 2.3)}rem,
    l7: #{math.div(8, 1.9)}rem,
    l8: #{math.div(8, 1.5)}rem,
  ),
) !default;
